.house-detail {
  .top-area {
    display: flex;
    .left-area {
      flex: 1;
      border: 1px solid #ccc;
      height: 500px;
      margin: 0px 10px 10px 0px;
    }
    .right-area {
      border-left: 1px solid #e8e8e8;
      border-bottom: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
      height: 500px;
      overflow: scroll;
      .follow-up-tab-cont {
        padding: 10px;
      }
    }
  }
  .bottom-area {
    width: 100%;
    border: 1px solid #ccc;
    .form-area {
      padding: 20px;
      .form-label {
        color: #d81919d4;
      }
    }
    .ant-select-selection {
      width: 60px;
    }
  }
  .follow-up-list-area {
    p{
      margin: 0px;
    }
  }
}
