.header {
  height: 50px;
  border-bottom: 1px solid #ccc;
  line-height: 50px;
  font-size: 24px;
}

.color-gray {
  color: gray;
}

.content {
  position: relative;
  padding-right: 35px;
  font-size: 14px;
  
  .title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 8px;
    .expire-tip {
      color: bisque;
    }
  }

  .reward {
    margin-bottom: 8px;
  }

  .expire-time {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 8px;
    .to-do {
      background-color: dodgerblue;
      border: none;
      border-radius: 5px;
      color: #fff;
    }
  }
}